<div class="container">

<div class="panel panel-default">

  <div class="panel-heading">

    {{ pageTitle }}

  </div>

  <div class="panel-body">

    <div class="row">

      <div class="col-md-2" class="filter_by">Filter By:</div>
      <div class="col-md-4"><input class="filter" type="text" [(ngModel)]="listFilter" /></div>

    </div>

    <div class="row">

      <div class="col-md-6" class="filtered_by"><h2>Filtered By: <span>{{ listFilter }}</span></h2></div>
  
    </div>

    <div class="table-responsive">

      <table class="table" *ngIf="products && products.length">

        <thead>

          <tr>

            <th><button (click)="toggleImage()" class="btn btn-primary">{{showImage ? "Hide" : "Show"}} Images</button></th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 star rating</th>

          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let product of products | productFilter:listFilter"> <!-- CUSTOM PIPE -->

            <td>

              <img *ngIf="showImage"
                [src]='product.imageUrl'        
                [title]='product.productName' 
                [style.width.px]='imageWidth' 
                [style.margin-left.px]='imageMarginleft'/>   <!-- PROPERTY BINDING -->

            </td> 

            <td [ngClass]="{'product_details' : showImage, 'product_details1' : !showImage}">{{ product.productName }}</td>
            <td [ngClass]="{'product_details' : showImage, 'product_details1' : !showImage}">{{ product.productCode | uppercase }}</td>
            <td [ngClass]="{'product_details' : showImage, 'product_details1' : !showImage}">{{ product.releaseDate }}</td>
            <td [ngClass]="{'product_details' : showImage, 'product_details1' : !showImage}">{{ product.price | currency:'INR':true:'1.2-2'}}</td>
            <td [ngClass]="{'product_details' : showImage, 'product_details1' : !showImage}">{{ product.starRating }}</td>
            
            <!-- use 'product_details' class if 'showImage' is true,else use 'product_details1' class -->
          </tr>


        </tbody>

      </table>


    </div>
  </div>

</div>
</div>
